.wp-block-yr-featured-items-carousel {
    position: relative;

    > div {
        height: 100%;
    }

    .carousel-nav {
        all: unset;
        position: absolute;
        top: 0;
        height: 100%;
        width: 50px;
        box-sizing: border-box;
        z-index: 10;
        opacity: 0;
        transition: opacity .2s ease;
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
        cursor: pointer;
    }
    .carousel-nav.prev {
        left: 0;
        padding-left: 1rem;
        background: linear-gradient(
            to left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,1) 100%
        );
    }
    .carousel-nav.next {
        right: 0;
        padding-right: 1rem;
        text-align: right;
        background: linear-gradient(
            to right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,1) 100%
        );
    }
    
    .items {
        /* height: 100%;
        max-height: 100%; */
        width: 100%;
        display: flex;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow-x: scroll;
        scrollbar-width: none;

        .featured-item {
            display: inline;
            scroll-snap-align: start;
            flex: 100% 1 0;
            overflow: hidden;
            /* height: 100%; */

            .wp-block-template-part {
                margin: 0;
            }
        }
    }
}
.wp-block-yr-featured-items-carousel:hover .carousel-nav {
    opacity: 1;
}