<!-- wp:template-part {"slug":"header", "area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1080px"}} -->
<main class="wp-block-group"><!-- wp:generateblocks/element {"uniqueId":"e6eb71c8","tagName":"div","styles":{"display":"flex","columnGap":"2rem","@media (max-width:767px)":{"flexDirection":"column","rowGap":"1rem","alignItems":"stretch"},"flexWrap":"nowrap","alignItems":"flex-start"},"css":".gb-element-e6eb71c8{align-items:flex-start;column-gap:2rem;display:flex;flex-wrap:nowrap}@media (max-width:767px){.gb-element-e6eb71c8{align-items:stretch;flex-direction:column;row-gap:1rem}}"} -->
<div class="gb-element-e6eb71c8"><!-- wp:generateblocks/element {"uniqueId":"b8487a93","tagName":"div","styles":{"flexGrow":"0","flexShrink":"0","@media (max-width:767px)":{"maxWidth":"400px","width":"100%","alignSelf":"center","position":"static"},"position":"sticky","top":"50px","width":"33%"},"css":".gb-element-b8487a93{flex-grow:0;flex-shrink:0;position:sticky;top:50px;width:33%}@media (max-width:767px){.gb-element-b8487a93{align-self:center;max-width:400px;position:static;width:100%}}"} -->
<div class="gb-element-b8487a93"><!-- wp:yr/event-calendar {"name":"yr/event-calendar","data":{"has_event_color":"#000000","_has_event_color":"field_694d69cac3488","selected_day_color":"#000000","_selected_day_color":"field_694da2cbe5f25"},"mode":"preview","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}}} /-->

<!-- wp:buttons {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"fontFamily":"roboto-mono"} -->
<div class="wp-block-buttons has-roboto-mono-font-family"><!-- wp:button {"width":100,"className":"is-style-fill","style":{"border":{"radius":"0px"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-fill"><a class="wp-block-button__link wp-element-button" href="http://harvestworks-20250427165611.local/events?date=today" style="border-radius:0px">Happening Now</a></div>
<!-- /wp:button -->

<!-- wp:button {"width":100,"className":"is-style-fill","style":{"border":{"radius":"0px"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100 is-style-fill"><a class="wp-block-button__link wp-element-button" href="http://harvestworks-20250427165611.local/events" style="border-radius:0px">Upcoming</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:generateblocks/element -->

<!-- wp:yr/event-list {"name":"yr/event-list","data":{"gap":"1","_gap":"field_694eb8ef0e20d"},"mode":"preview","style":{"spacing":{"margin":{"right":"0","left":"0","top":"0","bottom":"0"},"blockGap":"var:preset|spacing|40"}}} -->
<!-- wp:template-part {"slug":"event-list-item","theme":"twentytwentyfour-2-2","area":"uncategorized"} /-->
<!-- /wp:yr/event-list --></div>
<!-- /wp:generateblocks/element --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer", "area":"footer"} /-->